@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6D5BD0 #C5BFDA;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #C5BFDA;
}

*::-webkit-scrollbar-thumb {
  background-color: #6D5BD0;
  border-radius: 5px;
  border: 3px solid #C5BFDA;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F2F0F9;
}

.header {
  width: 100%;
  height: 82px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 38px;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
}
.header .header__wrapper a {
  text-decoration: none;
}
.header .header__wrapper .header__logo {
  display: flex;
  align-items: center;
}
.header .header__wrapper .header__logo p {
  width: 118px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #6E6893;
  margin-left: 23px;
}
.header .header__wrapper .header__nav {
  margin-left: 95px;
}
.header .header__wrapper .header__nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.header .header__wrapper .header__nav ul li {
  font-size: 16px;
}
.header .header__wrapper .header__nav ul li a {
  color: #6E6893;
}
.header .header__wrapper .header__nav ul li a:hover {
  font-weight: 500;
}
.header .header__wrapper .header__nav ul li + li {
  margin-left: 50px;
}

.main-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 82;
  left: 0;
}
.main-wrapper .main-sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #A49EB9;
  padding: 30px;
  overflow-y: auto;
  padding-bottom: 150px;
}
.main-wrapper .main-render {
  position: absolute;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.main-render__mail {
  width: 670px;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.main-render__mail h2 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.main-render__mail .main-render__mail-block {
  margin-top: 20px;
  width: 100%;
  height: 675px;
  background-color: #fff;
  overflow-y: auto;
}
.main-render__mail .main-render__mail-block .main-render__mail-block-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.main-render__mail .main-render__mail-block .main-render__mail-block-empty p {
  text-align: center;
  width: 400px;
}

.main-sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-sidebar__header .main-sidebar__header-btn {
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.main-sidebar__header .main-sidebar__header-btn:hover {
  cursor: pointer;
  background-color: #B3ABCF;
}
.main-sidebar__header .main-sidebar__header-btn_active {
  border-bottom: 2px solid #50BFFF;
}

.main-sidebar__blocks {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.main-sidebar__blocks .main-sidebar__block {
  width: 70px;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87819B;
  border: 1px solid #9184BE;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.main-sidebar__blocks .main-sidebar__block:hover {
  background: #9184BE;
}
.main-sidebar__blocks .main-sidebar__block .main-sidebar__block-image {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sidebar__blocks .main-sidebar__block .main-sidebar__block-image img {
  width: 100%;
}
.main-sidebar__blocks .main-sidebar__block p {
  font-size: 10px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.main-sidebar__block-prop-select {
  position: relative;
  width: 100%;
}
.main-sidebar__block-prop-select input {
  cursor: pointer;
}
.main-sidebar__block-prop-select .main-sidebar__block-prop-select-list {
  position: absolute;
  top: 100%;
  list-style: none;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.main-sidebar__block-prop-select .main-sidebar__block-prop-select-list li {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 14px;
  color: #6E6893;
}
.main-sidebar__block-prop-select .main-sidebar__block-prop-select-list li:hover {
  background: #E8F3FE;
}

.main-sidebar__block-prop-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-sidebar__block-prop-input label {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.main-sidebar__block-prop-input input {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 5px;
  color: #6E6893;
}
.main-sidebar__block-prop-input img {
  position: absolute;
  top: 42px;
  right: 20px;
}

.main-sidebar__block-prop-title {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-sidebar__block-prop-btns {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.main-sidebar__block-prop-btn {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sidebar__block-prop-btn_accept {
  background: #6D5BD0;
}

.main-sidebar__block-prop-btn_decline {
  background: #D30000;
  margin-left: 10px;
}

.main-sidebar__header-block {
  display: none;
}

.input-file {
  position: relative;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.input-file .input-file-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #87819B;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #9184BE;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.input-file .input-file-block img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-sidebar__banner-block {
  display: none;
}

.main-sidebar__timer-block {
  display: none;
}

.main-sidebar__text-block {
  display: none;
}

.main-sidebar__block-prop-input_margin {
  margin-top: 10px;
}

.main-sidebar__product {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
}

.sale-block {
  margin-top: 15px;
  margin-bottom: 20px;
}
.sale-block h4 {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
}
.sale-block .sale-block__item {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
  position: relative;
}
.sale-block .sale-block__item .sale-block__item-unit {
  width: 105px;
}
.sale-block .sale-block__item .sale-block__item-unit label {
  font-size: 12px;
  color: #fff;
}
.sale-block .sale-block__item .sale-block__item-unit input {
  width: 105px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
}
.sale-block .sale-block__item .remove-sale {
  position: absolute;
  top: 55%;
  right: -20px;
  cursor: pointer;
}
.sale-block .sale-block__item .sale-block__item-unit + .sale-block__item-unit {
  margin-left: 15px;
}
.sale-block .sale-block__btn {
  padding: 0 10px;
  border-radius: 6px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
  background: #6D5BD0;
  color: #fff;
  font-size: 12px;
}

.main-sidebar__single-product-block {
  display: none;
}

.main-sidebar__two-product-block-ver-1 {
  display: none;
}

.main-sidebar__two-product-block-ver-2 {
  display: none;
}

.main-sidebar__three-product-block {
  display: none;
}

.main-sidebar__footer-block {
  display: none;
}

.structure-wrapper {
  display: none;
}

.structure-block {
  margin-top: 15px;
}
.structure-block .structure-block-header {
  width: 100%;
  height: 53px;
  background: #87819B;
  border: 1px solid #9184BE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
.structure-block .structure-block-header .structure-block-header__name {
  display: flex;
  align-items: center;
}
.structure-block .structure-block-header .structure-block-header__name p {
  font-size: 12px;
  color: #fff;
  margin-left: 15px;
}
.structure-block .structure-block-header .structure-arrow_rotate {
  transform: rotate(90deg);
}
.structure-block .structure-block-body {
  display: none;
}

#copy-block {
  display: none;
}

.code-copy {
  width: 205px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  background: #6D5BD0;
  border-radius: 5px;
}

.auth-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-block {
  width: 380px;
  background: #fff;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-block .auth-block__title {
  margin-top: 35px;
  text-align: center;
}
.auth-block .auth-block__title h1 {
  color: #333;
  font-weight: 600;
  font-size: 24px;
}
.auth-block .auth-block__title p {
  margin-top: 5px;
  color: #7E8192;
  font-weight: 300;
}
.auth-block .auth-block__form {
  margin-top: 15px;
  width: 100%;
}
.auth-block .auth-block__form .auth-block__form-input {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.auth-block .auth-block__form .auth-block__form-input label {
  text-transform: uppercase;
  font-weight: 300;
  color: #7E8192;
  font-size: 12px;
}
.auth-block .auth-block__form .auth-block__form-input input {
  margin-top: 5px;
  width: 100%;
  padding: 0 20px;
  height: 45px;
  background: #FCFDFE;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}
.auth-block .auth-block__form .send-auth {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  background: #6D5BD0;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.auth-block .auth-block__form .err-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #7E8192;
  display: none;
}

.index-wrapper {
  padding: 100px 180px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -42px;
}
.index-wrapper .index-wrapper__link {
  display: flex;
  margin-left: 42px;
  text-decoration: none;
}
.index-wrapper .index-wrapper__link .index-wrapper__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 220px;
  background: #fff;
  border: 1px solid #6D5BD0;
  border-radius: 10px;
}
.index-wrapper .index-wrapper__link .index-wrapper__item p {
  color: #333;
  margin-top: 30px;
  text-transform: uppercase;
}

.empty-template p {
  font-size: 14px;
  width: 340px;
}
.empty-template .empty-template__link {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
}
.empty-template .empty-template__link button {
  width: 210px;
  height: 40px;
  background: #6D5BD0;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.template-item__link {
  display: flex;
  margin-left: 42px;
  text-decoration: none;
}
.template-item__link .template-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 220px;
  background: #fff;
  border: 1px solid #6D5BD0;
  border-radius: 10px;
}
.template-item__link .template-item .template-item__img-box {
  width: 122px;
  height: 122px;
}
.template-item__link .template-item .template-item__img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.template-item__link .template-item h4 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: center;
}
.template-item__link .template-item p {
  margin-top: 10px;
  text-align: center;
  color: #666;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */