<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <a href="/" class="header__logo-link">
                <div class="header__logo">
                    <img src="assets/images/logo.png" alt="">
                    <p>Mail creation Kit</p>
                </div>
            </a>

            <nav class="header__nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/constructor">Конструктор</a></li>
                    <li><a href="#">Шаблоны</a></li>
                </ul>
            </nav>
        </div>
    </header>