{% extends 'base.twig' %}

{% block body %}
    <div class="index-wrapper">
        <a href="/constructor" class="index-wrapper__link">
            <div class="index-wrapper__item">
                <img src="assets/images/icons/mail.svg" alt="">
                <p>Создать новое письмо</p>
            </div>
        </a>

        <a href="#" class="index-wrapper__link">
            <div class="index-wrapper__item">
                <img src="assets/images/icons/templates.svg" alt="">
                <p>Сохраненные шаблоны</p>
            </div>
        </a>
    </div>
{% endblock %}